/* Wimbledon Colors
Dark Green #013220

Purple #800080

White #000 #fff */

.App {
  text-align: center;
}

.navbar .navbar-nav .nav-link.active {
    color: #800080 }
.navbar.nav-scroll .navbar-nav .nav-link:hover, .navbar.nav-scroll .navbar-nav .nav-link.active {
    color: #800080 }

/* button style */
.butn {
  background: #013220;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 20px;
  padding: 16px 32px;
  border-radius: 3px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transition: all linear 300ms;
  transition: all linear 300ms;
  border: none;
  text-align: center; }
  .butn:hover, .butn:active {
    color: #fff;
    background: #1e2022; }

a.butn:hover, a.butn:active, a.butn:focus {
  color: #fff;
  background: #1e2022; }

.butn:focus {
  color: #fff; }

.butn.small {
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 20px;
  padding: 8px 20px;
  white-space: nowrap; }

.tennisHeroBg{
  background-image: url(./img/eagleEyeCourt.jpg),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); 
  background-blend-mode: hard-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* list-style5 */
.list-style5 li {
  display: inline-block;
  padding-right: 20px;
  margin-right: 10px;
  position: relative;
  font-size: 14px;
  font-weight: 700; }
  .list-style5 li:after {
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    content: "";
    top: 10px;
    right: 0;
    background: #013220; }
  .list-style5 li:last-child {
    margin-right: 0;
    padding-right: 0; }
    .list-style5 li:last-child:after {
      content: none; }